@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(55deg, rgb(40, 6, 51) 0%, #0d1031 75%);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
}

.top{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    border-bottom: 2px solid #343868;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.home-letrer {
    font-size: 20pt;
    padding: 10%;
}

h1{
    text-align: center;
}

.nav-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    gap: 25px;
}

.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44pt;
}
.nav-link-item{
    font-size: 18px;
    color: white;
    font-weight: 400;
    
}
main{
    border-width: 10px;
    border-top: 2px solid #343868;
    margin-bottom: 50px;
}
.me{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
    margin: 50px;
}
h2{
    padding: 15px;
    text-align: center;
    font-size: 35px;
}
h3{
    font-size: 25px;
    padding: 35px;
}
h4{
    padding-left: 45px;
}

.h4{
    padding: 45px;
}

.strong{
    color:aqua;
    text-transform: uppercase;
}

p{
    margin-top: 25px;
    margin-left: 50px;
    text-align: justify;
}
.RS{
    font-size: 15px;
    padding: 50px;
}
.listnopoint{
    list-style-type: none;
}
.element{
    padding: 5px;
}
footer{
    padding-top: 25px;
    border-top: #2a3180 2px solid;
    display: flex;
    gap: 5%;
    margin-block-end: 50px;
}    
.list-end{
    list-style-type: none;
}
.p1{
    margin-top: 25px;
    font-size: 20pt;
}
.buttonbible{
    padding: 5px;
}
.ecma{
    width: 50%;
}
.js-img{
    padding: 5%;
}
.list-in-list{
    padding-left: 5%;
    list-style-type: none;
}