@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(55deg, rgb(40, 6, 51) 0%, #0d1031 75%);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.nav-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    gap: 25px;
}

.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44pt;
}
.nav-link-item{
    font-size: 18px;
    color: white;
    font-weight: 400;
    
}
main{
    border-width: 10px;
    border-top: 2px solid #343868;
    margin-bottom: 50px;
}
.me{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
    margin: 20px;
}
h2{
    padding: 15px;
}
h3{
    font-size: 25px;
    padding: 35px;
}
p{
    margin-top: 50px;
    margin-left: 40px;
    text-align: justify;
}
.RS{
    font-size: 15px;
    padding: 50px;
}
.listnopoint{
    list-style-type: none;
}
.element{
    padding: 5px;
}
footer{
    padding-top: 25px;
    border-top: #343868 2px solid;
}
.ass{
    display: flex;
    flex-direction: ;
    gap: 15px;
}